@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    padding-block: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #f0ede7;
  --secondary-color: #7a7670;
  --tertiary-color: #a59f98;
  --quaternary-color: #c1bab2;
  --text-color: #201f1d;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBackgroundf{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-image: url('../img/loginBackg.png');
    filter: blur(3px);
    background-size: cover;
    position: fixed;
}

form{
    gap: 25px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding:  40px;
    border-radius: 35px;
}

input[type=email], [type=password] {
    width: 100%;
    padding: 17px 10px 13px;
    box-sizing: border-box;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 15px;
    transition: all 0.3s ease;
}

input[type=submit] {
    width: 100%;
    padding: 14px 15px ;
    font-size: 20pt;
    background-color: var(--text-color);
    color: #c1bab2;
    border-radius: 15px;
    border: none;
}

input::placeholder{
    font-size: 15pt;
    text-align: left;
}
input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--text-color);
    transition: all 0.3s ease;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:var(--tertiary-color) ;
    padding: 45px 20px;
    border-radius: 25px;
}

.title {
    display: flex;
    flex-direction: column;
}

.back-button{
    
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.back-button img {
    width: 80%;
    height: 80%;
}