@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #f0ede7;
  --secondary-color: #7a7670;
  --tertiary-color: #a59f98;
  --quaternary-color: #c1bab2;
  --text-color: #201f1d;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBackgroundf{
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-image: url('../assets/img/aboutBackg.png');
    filter: blur(3px);
    background-size: cover;
    position: fixed;
}

form{
    gap: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 12vh 40px;
    border-radius: 4px;
}

input[type=email], [type=password] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    
}

input[type=submit] {
    width: 100%;
    padding: 11px 15px;
    font-size: 20pt;
    background-color: var(--secondary-color);
    color: #f0ede7;
}

input::placeholder{
    font-size: 15pt;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:var(--tertiary-color) ;
    padding: 45px 20px;
    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
}